.loginScreen {
  position: relative;
  height: 100%;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/b70b092f-1760-4498-b462-b4ef19907ec7/60888d8a-1b2b-4d25-96e1-40440d6f2bcd/US-en-20211101-popsignuptwoweeks-perspective_alpha_website_large.jpg')
    center no-repeat;
  background-size: cover;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  top: 20px;
  background-color: #e50914;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.85) 100%
  );
}


.loginScreen__body {
  position: absolute;
  z-index: 1;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  width: 100%;
  line-height: 1.8;
}

.loginScreen__body h1 {
  font-size: 3.125rem;
}

.loginScreen__body h2 {
  font-weight: 500;
}

.loginScreen__body h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.loginScreen__input > form > input{
  padding: 10px;
  outline-width: 0;
  height: 50px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__input form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background: #e50914;
  border: none;
  cursor: pointer;
}
